%h2 Here are Your Favorites
%br

-if(@albums.present?)
  -@albums.each do |album|

    #favorite-album-#{album.id}
      =render 'album', album: album
  %br
-if(@artists.present?)
  -@artists.each do |artist|
    #favorite-artist-#{artist.id}
      =render 'artist', artist: album
  %br
-if(@songs.present?)
  -@songs.each do |song|
    #favorite-song-#{song.id}
      =render 'song', song: song
%br