-if(@albums.present? || @artists.present? || @songs.present?)
  %br
  -if(@albums.present?)
    -@albums.each do |album|
      =render 'albums/album', album: album
    %br
  -if(@artists.present?)
    -@artists.each do |artist|
      =render 'artists/artist', artist: artist
    %br
  -if(@songs.present?)
    -@songs.each do |song|
      =render 'songs/song', song: song
    %br
-else
  %h2 You Don't Have Any Favorites Yet!