.album{id: "album-#{@album.id}"}
  Name:
  = @album.name

  = link_to 'Edit', edit_album_path(@album)
  \|
  =link_to 'Add to Album Favorites', album_favorites_path(@album), method: :post, id:"link-to-favorites"
  \|
  = link_to 'Back to Albums', albums_path
