#bs-example-navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav
    %li{:class => 'active' }= link_to 'Your Albums', albums_path
    %li{:class => 'inactive' }= link_to 'Your Artists', artists_path
    %li{:class => 'inactive'}= link_to 'Your Songs', songs_path
    %li{:class => 'inactive'}= link_to 'Show Favorites', favorites_index_path