%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.navbar-right=link_to content_tag(:h3, "Recordly!"), root_path

    .container-fluid{id: "Signup_signin_signout"}
      =render 'layouts/navbar_signup_signin_signout'

    .container-fluid
      =render 'layouts/navbar_links'

    .container-fluid
      =render 'layouts/navbar_search'
